html,
body {
  width: 100vw;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.images {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}

img {
  width: 100%;
}
